In [1]:
import pandas as pd
import numpy as np

In [ ]:
"""Perform Following operations on the given dataset
1.find shape of the data
2.describe the data
3.find the datatype of each column
4.find no.of zeros in each column
5.find mean,meadian,mode of each column
6.prepare subests based on following conditions(provided later)"""

In [10]:
d=pd.DataFrame(pd.read_csv("3030_Iris.csv",header=0,delimiter=";"))
d

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [11]:
d.head()

   sepal.length  sepal.width  petal.length  petal.width variety
0           5.1          3.5           1.4          0.2  Setosa
1           4.9          3.0           1.4          0.2  Setosa
2           4.7          3.2           1.3          0.2  Setosa
3           4.6          3.1           1.5          0.2  Setosa
4           5.0          3.6           1.4          0.2  Setosa

In [12]:
d.tail()

     sepal.length  sepal.width  petal.length  petal.width    variety
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

In [14]:
d.index

RangeIndex(start=0, stop=150, step=1)

In [15]:
d.describe

<bound method NDFrame.describe of      sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]>

In [17]:
d.shape

(150, 5)

In [20]:
d.dtypes

sepal.length    float64
sepal.width     float64
petal.length    float64
petal.width     float64
variety          object
dtype: object

In [38]:
d=pd.DataFrame(pd.read_csv("3030_Iris.csv",header=0,delimiter=";"))
d

     sepal.length  sepal.width  petal.length  petal.width    variety
0             5.1          3.5           1.4          0.2     Setosa
1             4.9          3.0           1.4          0.2     Setosa
2             4.7          3.2           1.3          0.2     Setosa
3             4.6          3.1           1.5          0.2     Setosa
4             5.0          3.6           1.4          0.2     Setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  Virginica
146           6.3          2.5           5.0          1.9  Virginica
147           6.5          3.0           5.2          2.0  Virginica
148           6.2          3.4           5.4          2.3  Virginica
149           5.9          3.0           5.1          1.8  Virginica

[150 rows x 5 columns]

In [45]:
a=(d["sepal.length"]==0).sum()
print("Number of zeros in sepal.length:",a)
b=(d["sepal.width"]==0).sum()
print("Number of zeros in sepal.width:",b)
c=(d["petal.length"]==0).sum()
print("Number of zeros in petal.length:",c)
x=(d["petal.width"]==0).sum()
print("Number of zeros in petal.width:",x)

Number of zeros in sepal.length: 0
Number of zeros in sepal.width: 0
Number of zeros in petal.length: 0
Number of zeros in petal.width: 0

In [53]:
print("Mean values for columns")
for i in d.iloc[:,:-1]:
    print([i,d[i].mean()])

Mean values for columns
['sepal.length', np.float64(5.843333333333334)]
['sepal.width', np.float64(3.0573333333333337)]
['petal.length', np.float64(3.7580000000000005)]
['petal.width', np.float64(1.1993333333333336)]

In [50]:
print("Median values for columns")
for i in d.iloc[:,:-1]:
    print(i,d[i].median())

Median values for columns
sepal.length 5.8
sepal.width 3.0
petal.length 4.35
petal.width 1.3

In [48]:
print("Mode values for columns")
for i in d.iloc[:,:-1]:
    print(i,d[i].mode())

Mode values for columns
sepal.length 0    5.0
Name: sepal.length, dtype: float64
sepal.width 0    3.0
Name: sepal.width, dtype: float64
petal.length 0    1.4
1    1.5
Name: petal.length, dtype: float64
petal.width 0    0.2
Name: petal.width, dtype: float64

In [54]:
(d.isnull()).sum()

sepal.length    0
sepal.width     0
petal.length    0
petal.width     0
variety         0
dtype: int64